# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives**

- List popular languages used by data scientists
- List some commonly used libraries used by data scientists
- List open source data environment tools
- Evaluate expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. ggplot

Data Science Tools

|Data Science Tools|
|------------------|
|jupyter notebook  |
|Apache spark|
|R studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

## Author
Serena Asu Besong Agbor